<h1 id="application-title">Record Manager</h1>
<div id="record-manager-main-container"></div>

<script type="text/javascript">
    window.router = new RecordManagerApp.Routers.RecordManagerAppRouter();
    window.location.hash = '/home';
    Backbone.history.start();
</script>
