// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#application-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin-left: -250px;
  margin-top: -150px;
}

#record-manager-main-container {
  position: absolute;
  top: 70%;
  left: 40%;
  width: 600px;
  height: 300px;
  margin-left: -230px;
  margin-top: -170px;
}

a {
  cursor: pointer
}

.record-edit-condition-hide {
  display: none;
}

#artist-graph-img {
  margin-left: 40%
}

.no-records {
  margin-left: 150px;
}